<div class="container">
  <mat-card class="example-card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/p16.jpg" alt="shopping" />
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
        <formly-form
          [form]="form"
          [fields]="fields"
          [model]="model"
          [options]="options"
        ></formly-form>
        <button type="submit" class="btn btn-default" mat-raised-button>
          Login
        </button>
      </form>
    </mat-card-content>
    <div class="link">
      <p>Need a new User</p>
      <a href="/register">Register</a>
    </div>
  </mat-card>
</div>
