.example-card {
  margin: 0 5px;
  max-width: 400px;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 5px 40%;
}

.link {
  display: flex;
  gap: 10px;
  justify-content: center;
}
