<div *ngIf="cartPage; then cart; else products"></div>
<ng-template #products>
  <button mat-icon-button color="primary" (click)="addProductCart()">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
</ng-template>
<ng-template #cart>
  <button mat-icon-button color="primary" (click)="addProductCart()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="subtractProductCart()">
    <mat-icon>remove</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="deleteProductCart()">
    <mat-icon>remove_shopping_cart</mat-icon>
  </button>
</ng-template>
