<div class="container">
  <mat-card id="card" class="mat-elevation-z8">
    <mat-card-content>
      <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <!-- Item Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let product">{{ product.quantity }}</td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>
        <!-- Item Column -->

        <!-- Description Column -->
        <ng-container matColumnDef="desc">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let product">
            {{ product.description }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- Description Column -->

        <!-- Cost Column -->
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef>Cost</th>
          <td mat-cell *matCellDef="let product">
            {{ product.price }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- Cost Column -->

        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let product">
            {{ product.price * product.quantity }}
          </td>
          <td mat-footer-cell *matFooterCellDef>{{ total | currency }}</td>
        </ng-container>
        <!-- Total Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </mat-card-content>
    <mat-divider inset></mat-divider>
   
    <div id="buy">
   <button id="btn" mat-raised-button color="primary" routerLink="/cart">Return to Cart</button>
      <button mat-raised-button color="warn" (click)="buy()">
        <mat-icon>paid</mat-icon> BUY
      </button>
    </div>
  </mat-card>
</div>
