.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

#card {
  width: 500px;
  height: 700px;
}

#buy {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

#list {
  display: flex;
}

table {
  width: 100%;
  height: auto;
}

.mat-column-total,
.mat-column-cost {
  text-align: center;
}
