<div class="container">
  <mat-card id="card" class="mat-elevation-z8">
    <mat-card-content>
      <p>ORDER TOTAL</p>
      <mat-card-title>{{ total | currency }}</mat-card-title>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <div id="checkout">
      <button mat-raised-button color="warn" (click)="goToBill()" disabled={{!total}}>
        <mat-icon>shopping_basket</mat-icon> CHECKOUT
      </button>
    </div>
  </mat-card>
</div>
