<mat-toolbar color="primary">
  <button routerLink="/store" mat-icon-button>
    <mat-icon>store</mat-icon>
  </button>
  <span>Store</span>
  <span class="example-spacer"></span>
  <div *ngIf="!authservice.logged(); then notuser; else login"></div>
  <ng-template #notuser>
    <button routerLink="/register" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <button routerLink="/login" mat-icon-button>
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>
  <ng-template #login>
    <button (click)="logout()" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </ng-template>
  <button routerLink="/cart" mat-icon-button>
    <mat-icon
      matBadge="{{ quantity }}"
      matBadgeColor="accent"
      [matBadgeHidden]="!quantity"
      >shopping_cart</mat-icon
    >
  </button>
</mat-toolbar>
